# ==========================================
# Application Environment Variables
# ==========================================

# Public URL of the application
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Site Metadata
NEXT_PUBLIC_APP_NAME="Ricky Alfian Saputra - Portfolio"
NEXT_PUBLIC_AUTHOR="Ricky Alfian Saputra"

# Backend / Contact Form API
CONTACT_EMAIL_RECEIVER=rickyalfian751@gmail.com
