# ==========================================
# Vercel Build & Runtime Environment Variables
# ==========================================

# Mematikan telemetri Next.js untuk mempercepat proses build di Vercel
NEXT_TELEMETRY_DISABLED=1

# Mode Node Environment
NODE_ENV=production

# Konfigurasi Log Instalasi NPM di Vercel
NPM_CONFIG_LOGLEVEL=warn

# ==========================================
# Application Public Variables (Frontend)
# ==========================================

# URL Domain Proyek di Vercel
NEXT_PUBLIC_SITE_URL=https://porto-ricky.vercel.app

# Metadata Website
NEXT_PUBLIC_APP_NAME="Ricky Alfian Saputra - Portfolio"
NEXT_PUBLIC_AUTHOR="Ricky Alfian Saputra"

# ==========================================
# Backend & API Variables
# ==========================================

# Penerima Pesan Form Kontak (Serverless API)
CONTACT_EMAIL_RECEIVER=rickyalfian751@gmail.com
